extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt='Imagen viaje' class="img-fluid")
            .col-md-7
                h1 #{viaje.titulo}
                p
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' width='24' height='24' stroke-width='2')
                        path(d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z')
                        path(d='M16 3v4')
                        path(d='M8 3v4')
                        path(d='M4 11h16')
                        path(d='M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0')

                    | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                    p 
                        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' width='28' height='28' stroke-width='2')
                            path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
                            path(d='M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1')
                            path(d='M12 7v10')
                    
                        | #{viaje.precio} Dolares


                    p 
                        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' width='24' height='24' stroke-width='2')
                            path(d='M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0')
                            path(d='M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')

                        | #{viaje.disponibles} - Disponibles

                    p= viaje.descripcion

                    a(href=`/viajes` class="btn border rounded btn-block") Volver
